<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add answer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
        <h1 class="mt-3">Add Answer</h1>
        <form action="#" th:action="@{/{questionId}/saveanswer(questionId=${questionId})}"  th:object= "${answer}" method="post">
            <input type="hidden" th:name="questionId" th:value="${questionId}" />
			
            <div class="form-group">
                <label for="name">Answer Option Text</label>
                <input type="text" id="name" th:field="*{choice}" class="form-control" required />
            </div>

			<div class="form-check">
                <input type="checkbox" id="correct" th:field="*{correct}" class="form-check-input" />
                <label class="form-check-label" for="correct">Correct Answer?</label>
            </div>

		<button type="submit" class="btn btn-primary mt-2">Add</button>
		<a th:href="@{/quizlist}" class="btn btn-danger mt-2">Cancel</a>
		</form>
	</div>
    
</body>
</html>