<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
        <h1 class="mt-3">Add Question</h1>
        <form action="#" th:action="@{/savequestion}"  th:object= ${question} method="post">
            <input type="hidden" th:name="quizId" th:value="${quizId}" />
			<div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" required />
            </div>

			<div class="form-check">
                <input type="checkbox" id="easy" th:field="*{difficulty}" value="Easy" class="form-check-input" />
                <label class="form-check-label" for="easy">Easy</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="medium" th:field="*{difficulty}" value="Medium" class="form-check-input" />
                <label class="form-check-label" for="medium">Medium</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="hard" th:field="*{difficulty}" value="Hard" class="form-check-input" />
                <label class="form-check-label" for="hard">Hard</label>
            </div>

		<button type="submit" class="btn btn-primary mt-2">Add</button>
		<a th:href="@{/quizlist}" class="btn btn-danger mt-2">Cancel</a>
		</form>
	</div>
    
</body>
</html>