<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
 
    <div class="container">
        <h1 class="mt-3">Question List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Question Text</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="question : ${questions}">
                    <td th:text="${question.name}">Question text</td>
                    <td th:text="${question.difficulty}">Difficulty</td>
                    <td>
                        <a th:href="@{/deletequestion/{id}/{quizId}(id=${question.questionid}, quizId=${quizId})}" class="btn btn-danger">
                           Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/{quizId}/addquestion(quizId=${quizId})}" class="btn btn-primary">Add New Question</a>
        <a th:href="@{/quizlist}" class="btn btn-secondary mt-2">Back to Quizzes</a>
    </div>
 
    <br />
</body>
</html>
 