<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
 
    <div class="container">
        <h1 class="mt-3">Quiz List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Published</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="quiz : ${quizzes}">
                    <td th:text="${quiz.name}">Quiz Name</td>
                    <td th:text="${quiz.description}">Quiz Description</td>
                    <td>
                        <span th:text="${quiz.published ? 'Published' : 'Not Published'}" th:class="${quiz.published ? 'badge badge-primary' : 'badge badge-secondary'}"></span>
                    </td>
                    <td th:text="${quiz.date}">Date</td>
                    <td>
                        <a th:href="@{/{id}/questionlist(id=${quiz.quizid})}">See questions</a>
                    </td>
                    <td>
                        <a th:href="@{/editquiz/{id}(id=${quiz.quizid})}" class="btn btn-secondary">
                            Edit
                         </a>
                        <a th:href="@{/deletequiz/{id}(id=${quiz.quizid})}" class="btn btn-danger">
                           Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/addquiz}" class="btn btn-primary">Add New Quiz</a>
    </div>
 
    <br />
</body>
</html>
 